<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for(:session, url: login_path) do |f| %>

  <div>
    <%= f.text_field :username, placeholder: :username %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: :password %>
  </div>
  <div>
    <%= f.submit 'Login' %>
  </div>

<% end %>
