<!-- <h1>Posts#show</h1> -->
<!-- <p>Find me in app/views/posts/show.html.erb</p> -->

<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<%= link_to "#{@user.username}'s Profile", user_path(@user) %>
<%= link_to "#{@user.username}'s Posts", user_path(@user) %>
